/* _content/BlazorBase/Shared/MainLayout.razor.rz.scp.css */
.page[b-1wxhx5kwhp] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-1wxhx5kwhp] {
  flex: 1;
}

.sidebar[b-1wxhx5kwhp] {
  background-color: rgba(189, 93, 56, 1);
}

.top-row[b-1wxhx5kwhp] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-1wxhx5kwhp]  a,
.top-row .btn-link[b-1wxhx5kwhp] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-1wxhx5kwhp] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-1wxhx5kwhp] {
    display: none;
  }

  .top-row.auth[b-1wxhx5kwhp] {
    justify-content: space-between;
  }

  .top-row a[b-1wxhx5kwhp],
  .top-row .btn-link[b-1wxhx5kwhp] {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-1wxhx5kwhp] {
    flex-direction: row;
  }

  .sidebar[b-1wxhx5kwhp] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-1wxhx5kwhp] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row[b-1wxhx5kwhp],
  article[b-1wxhx5kwhp] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* _content/BlazorBase/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fdwozry3b9] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fdwozry3b9] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-fdwozry3b9] {
  font-size: 1.1rem;
}

.oi[b-fdwozry3b9] {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.avatar-container[b-fdwozry3b9] {
  margin: 0 0 8px;
}

.avatar-img[b-fdwozry3b9] {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

@media (min-width: 641px) {
  .navbar-toggler[b-fdwozry3b9] {
    display: none;
  }

  .collapse[b-fdwozry3b9] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
