.navbar-toggler[b-fdwozry3b9] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fdwozry3b9] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-fdwozry3b9] {
  font-size: 1.1rem;
}

.oi[b-fdwozry3b9] {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.avatar-container[b-fdwozry3b9] {
  margin: 0 0 8px;
}

.avatar-img[b-fdwozry3b9] {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
}

@media (min-width: 641px) {
  .navbar-toggler[b-fdwozry3b9] {
    display: none;
  }

  .collapse[b-fdwozry3b9] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
